{% extends 'profileapp/profile/base_home.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
    <link href="{% static 'ProfileApp/css/blog.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

</head>
<body>
    <div class="blog-header">

{% block content %}
        <div class="header-wrapper">
            <img src="{{ user.images.url }}" alt="Заголовочное изображение">
        </div>
    </div>
    <div class="blog-header">
        <div class="user-profile">
            <img src="{{ user.images.url }}" alt="Фото профиля">
            <div>
                <h2>{{ user.username }}</h2>
                <p>{{ user.teacher.description }}</p>
            </div>
        </div>
    </div>
    <div class="blog-header">
        {% for post in posts %}
            <div class="blog-header">
                <div class="blog-post">
                    <img src="{% if post.images %}{{ post.images.url }}{% else %}{% static 'image/profile_img/img.png' %}{% endif %}" alt="Изображение поста">
                    <div>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
                <p>{{ post.date_create }}</p>
                {% if teach %}
                    <a href="{% url 'profile:delete_post' post.id %}">
                        <button class="btn btn-primary">
                          <i class="bi bi-cart-fill"></i> Удалить
                        </button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <!-- Добавьте больше блоков постов при необходимости -->

</body>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}