{% extends 'profileapp/profile/base_home.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}
{% block styles %}
    <style>
        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #333; /* Цвет фона */
            padding-top: 20px;
            z-index: 1; /* Устанавливаем z-index для боковой панели */
        }

        /* Стили для пунктов меню */
        .sidenav a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: #fff; /* Цвет текста */
            display: block;
        }

        /* Стили для активного пункта меню */
        .sidenav a.active {
            background-color: #4CAF50; /* Цвет активного пункта */
        }

        /* Стили для контента, сдвигаемого вправо */
        .content {
            margin-left: 250px; /* Ширина боковой панели */
            padding: 20px;
            z-index: 1; /* Устанавливаем z-index для контента */
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Боковая панель навигации -->
    <div class="sidenav">
        <a href="#" class="active">Статистика</a>
        <a href="{%  url 'profile:services' %}">Услуги</a>
        <a href="{%  url 'profile:profil_cabinet' user.id %}">Кабинеты</a>
        {% if user.is_teacher %}
            <a href="{%  url 'profile:publish_post' %}">Создать пост</a>
            <a href="{%  url 'profile:users_list' %}">Пользователи</a>
        {% endif %}
    </div>

    <!-- Основной контент -->
    <div class="content">
            {% if teach %}
                <div class="blog-header">
                    <form action="{% url 'profile:publish_post' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
        {#                <div class="form-group">#}
        {#                    <label for="post-title">Заголовок поста:</label>#}
        {#                    <input type="text" id="post-title" placeholder="Заголовок поста">#}
        {#                </div>#}
        {#                <div class="form-group">#}
        {#                    <label for="post-text">Текст поста:</label>#}
        {#                    <textarea id="post-text" placeholder="Текст поста"></textarea>#}
        {#                </div>#}
        {#                <div class="form-group">#}
        {#                    <label for="image-upload">Загрузить изображение:</label>#}
        {#                    <input type="file" id="image-upload" accept="image/*"> <!-- Кнопка для загрузки изображения -->#}
        {#                </div>#}
                        <button type="submit">Сохранить пост</button>
                    </form>
                </div>
            {% endif %}
        <!-- Здесь будет отображаться контент для выбранного пункта меню -->
    </div>
{% endblock %}
