{% extends 'profileapp/profile/base_home.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'ProfileApp/css/profile_cabinet.css' %}">
{% endblock %}


{% block modals %}

{% endblock %}

{% block content %}
    <!-- Боковая панель навигации -->
    <div class="sidenav">
        <a href="#" class="active">Статистика</a>
        <a href="{%  url 'profile:services' %}">Услуги</a>
        <a href="{%  url 'profile:profile_cabinet' user.id %}">Кабинеты</a>
        {% if user.is_teacher %}
            <a href="{%  url 'profile:publish_post' %}">Создать пост</a>
            <a href="{%  url 'profile:users_list' %}">Пользователи</a>
        {% endif %}
    </div>

    <!-- Основной контент -->
    <div class="content">
        <h1>Добро пожаловать в ваш кабинет</h1>

        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Учитель: </h5>
            {% for cabinet, users in users_by_cab.items %}
                <p><a href="{% url 'cabinet:cabinet' cab_id=cabinet.id %}" class="card-text">Кабинет: {{ cabinet.name }}</a></p>

                {% for user in users|dictsort:"is_teacher"|dictsort:"username" %}
                    {% if user.is_teacher %}
                        <p class="card-text">Учитель: {{ user.username }}</p>
                    {% elif not user.is_teacher %}
                        <p class="card-text">Пользователь: {{ user.username }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
