{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Чат</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ChatApp/css/chat.css' %}">
</head>
<body>
 <div class="chat-container clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
          <form method="get" action="{% url 'chat:user_search' %}">
            <input type="text" name="query" value="{{ query }}">
            <input type="submit" value="Искать">
          </form>
      </div>

      <ul class="list">
          {% if chat_list %}
              {% for chat in chat_list %}
                  <li class="clearfix">

                    <div class="about">
                      <div class="name"><a href="{% url 'chat:room' chat.id %}">{{ chat.name_chat }}</a></div>
                    </div>
                  </li>
              {% endfor %}
          {% else %}
              У вас нету чата
          {% endif %}
      </ul>
    </div>
    <div class="chat">
      <div class="chat-header clearfix">
        <img src="{{ user.images }}" alt="avatar" />

        <div class="chat-about">
          <div class="chat-with">{{ user }}</div>
        </div>

      </div>
        {% block chat_history %} {% endblock %}
      <div class="chat-history" id="chat-history">


      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
        <button id="chat-message-submit">Send</button>
      </div> <!-- end chat-message -->
    </div> <!-- end chat -->
  </div> <!-- end container -->

{% block script %} {% endblock %}
</body>
</html>